body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #83885f8e;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('./assets/fonts/Coolvetica Hv Comp.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Coolvetica Rg';
  src: url('./assets/fonts/Coolvetica Rg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}